body {
    background-color:rgb(205, 53, 101);
    font-family: Arial, sans-serif;
    margin-left: 8em;
    margin-right: 8em;
}

h1 {
    background-color: rgb(171, 45, 92);
    color: white;
    text-align: center;
    font-size: 3em;
    padding: 0.3em;
    border-left: 4px solid white;
    border-right: 4px solid white;
}

.juegos {
    background-color: rgb(171, 45, 92);
    border-radius: 8px;
    padding-bottom: 2.5em;
    margin-bottom: 15px;
}


.juegos h2 {
    color: white;
    text-align: left;
    margin: 0.5em;
    padding-top: 1.5em;
    padding-bottom: 0.7em;
    font-size: 22px;
}

.juegos h3 {
    color: rgb(171, 45, 92);
    text-align: right;
}

.juegos h3::after {
    content: " ";
    display: block;
    width: 100%;
    border-bottom: 1px solid rgb(171, 45, 92);
}

.juegos img {
    width: 100%;
    height: 100%;
}

.juegos p {
    text-align: left;
    font-size: 10px;
}

.juego {
    background-color: white;
    border: 2px solid rgb(171, 45, 92);
    margin: 0.6em;
    padding: 0.5em;
    text-align: left;
    border-radius: 8px;
}

.buy-button {
    text-align: center;
}

.juego button {
    background-color: rgb(76, 140, 54);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.7em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    font-size: 13px;
    cursor: pointer;
}

.juego button:hover {
    background-color: rgb(171, 45, 92);
}

footer {
    background-color: rgb(216, 104, 145);
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 1em;
    border-radius: 4px;
}





